//
// Theme style
//

// Mode
$mode: default;

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';

// Layout
@import 'layout/layout';
@import './core/layout/docs/layout';


.react-datepicker,
.react-datepicker__header,
.react-datepicker__time-box
 {
  background-color: #009ef7 !important;
}
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-list-item,
.react-datepicker-time__header{
  color: #fff !important;
}
.react-datepicker__day:hover,
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: #25506d !important;
}

.mw-1500px {
  max-width: 1500px;
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item.show .nav-link, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #009ef7;
  transition: color 0.2s ease, background-color 0.2s ease;
  cursor:pointer;
}

@media (min-width: 0px) and (max-width: 1556px) {
  .btn .btn-light-primary{
    width: fit-content;
  }
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100 !important;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5)
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.w-250 {
  width: 250;
}

.w-6rem {
  width: 6.5rem !important;
}

.mh-100vh {
  min-height: 100vh;
}

.font-5vw {
  font-size: 0.75vw;
  white-space: normal !important;
  display: inline;
}

.btn-responsive {
  padding: 0.625rem 0.5rem !important;
  @media (min-width: 992px) and (max-width: 1199px) {
    padding: 0.325rem 0.25rem !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 0.325rem 0.25rem !important;
  }
  @media (max-width: 767px) {
    padding: 0.325rem 0.25rem !important;
  }
  @media (max-width: 480px) {
    padding: 0.325rem 0.25rem !important;
  }
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  margin-top: 0;
  color: #e4e6ef;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #f7f2f2;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover {
  background-color: #1461a3;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #1461a3;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

// Stepper style

$fill-color: #009ef7;
$border-color: #d9e2ec;
$text-color: #102a43;
$text-color-inactive: #829ab1;
$text-color-optional: #9fb3c8;

.stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  .step {
    display: table-cell;
    position: relative;
    padding: 1.5rem;
    z-index: 2;
    // width: 20rem;
    min-width: 15rem;
    // max-width: 20rem;
    cursor: pointer;
    &:last-child .step-bar-left,
    &:last-child .step-bar-right {
      display: none;
    }
    .step-circle {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
      border-radius: 50%;
      text-align: center;
      line-height: 1.75rem;
      font-size: 1rem;
      font-weight: 600;
      z-index: 2;
      border: 2px solid $border-color;
    }
    &.done {
      .step-circle {
        background-color: $fill-color;
        border: 2px solid $fill-color;
        color: #ffffff;
      }
      .step-title {
        color: $text-color;
      }
    }
    &.editing {
      .step-circle {
        background: #ffffff;
        border-color: $fill-color;
        color: $fill-color;
      }
      .step-title {
        color: $fill-color;
        text-decoration: underline;
      }
    }
    .step-title {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: 600;
    }
    .step-title,
    .step-optional {
      text-align: center;
      color: $text-color-inactive;
    }
    .step-optional {
      font-size: 0.75rem;
      font-style: italic;
      color: $text-color-optional;
    }

    .step-bar-left,
    .step-bar-right {
      position: absolute;
      top: calc(2rem + 5px);
      height: 5px;
      background-color: $border-color;
      border: solid $border-color;
      border-width: 2px 0;
    }
    .step-bar-left {
      width: calc(100% - 2rem);
      left: 50%;
      margin-left: 1rem;
      z-index: -1;
    }
    .step-bar-right {
      width: 0;
      left: 50%;
      margin-left: 1rem;
      z-index: -1;
      transition: width 500ms ease-in-out;
    }
    &.done .step-bar-right {
      background-color: $fill-color;
      border-color: $fill-color;
      z-index: 3;
      width: calc(100% - 2rem);
    }
  }
}

.fsu {
  font-size: 1.5rem !important;
}

.text-darkblue {
  color: darkblue;
}

.text-darkorange {
  color: darkorange;
}

.text-limegreen {
  color: limegreen;
}

.svg-icon svg {
  color: limegreen;
}

.ml-2 {
  margin-left: 20px;
}

.svg-icon-email svg {
  color: red;
}

.svg-icon-address svg {
  color: #102a43;
}

.svg-icon-location svg {
  color: rgb(48, 48, 141);
}